
.row-fluid {
  padding: 0px;
}

h2, h3 {
  font-family: 'Bitter';
}
.row h2 {
  color:black;
}

p {
  font-family: 'Raleway';
}

h1 h4 h5 h6 {
  font-family: "Montserrat";
}

#tablist a {
  color: black; 
}

thead th{
 text-align: center;
}

#aboutsection{
  margin-top: -31px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: #E6E6DC;
  
}

#aboutsection .panel {
  margin-top: 50px;
}

#aboutsection .panel-body {
  text-align: center;
  font-size: 1.2em;
}

#portfoliophoto {
  height: auto; 
  width: auto; 
  max-height: 375px;
  max-width: 375px;
  border-radius: 2%;
  margin-bottom: 20px;
}

#projectsection {
  text-align: center;
}
#projectsection img{
  align-content: center;
}

#allprojects {
 padding-top: 25px;
 background-color: #81A594;
 padding-bottom: 60px;
}

#projects {
 text-align: center;
}

#projects img {
  height: auto;
  width: auto;
  max-width: 375px;
  max-height: 425px;
  margin-top: 10px;
}

#projectInfo {
  padding-top: 20px;
}

#techsection {
  background-color: #00628B;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 25px;
}

#techsection .page-header{
  text-align: center;
}

#techsection .panel-heading{
  text-align: center;
}


.jumbotron{
  background: url("http://i1377.photobucket.com/albums/ah54/WolfgangHall/daa6e78c-32b4-49f9-a126-a1e27a450359_zpsv1s64spg.jpg"); 
  background-size:contain;
  background-size: cover;
  width: 100%;
  height: 620px;
  border: 1px solid;
  text-align: center;

}

#jumbotrontext {
  padding-top: 50px;
}

.projectPhoto {
  height: auto; 
  width: auto; 
  max-height: 300px;
  max-width: 300px;
  border-radius: 2%;
  margin-bottom: 20px;
}



footer {
 text-align: center;
 color: white;
 padding-bottom: 80px;
 background-image: url("http://i1377.photobucket.com/albums/ah54/WolfgangHall/footer_lodyas_zpskhcvtvag.png");
}

#contactfooter .btn {
  margin: 15px;
}

#footerhead {
  padding-top: 50px;
}

.modal-body {
 text-align: center;
}

.btn-info {
 margin: 7px;
}

#modalBtnGroup {
  margin-bottom: 40px;
}

