@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700);

body {
  color: #f0f0f0;
  height: 100%;
}
.row-fluid {
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald' !important;
}

p {
  font-family: 'Source Sans Pro';
}

#tablist a {
  color: #f0f0f0; 
  padding-bottom: 3rem;
}

thead th{
 text-align: center;
}
.container .jumbotron .container-fluid .jumbotron{
  padding-left: 0;
  padding-right: 0;
}
#main-section {
  background: url('https://images.unsplash.com/photo-1424460421773-58b49adfc68a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1815b3a5836c6240d0dcfaed14808ef6') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vh;
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}

.jumbotron{
  background: none !important;
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 3rem;
  border: none !important;
}

#name-lead {
  font-size: 600%;
}
.lead {
  font-size: 150%;
}

#about-section{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #76323F;
  
}

.personalPhoto {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 20%;
}

#portfoliophoto {
  height: auto; 
  width: auto; 
  max-height: 375px;
  max-width: 375px;
  border-radius: 2%;
  margin-bottom: 20px;
}

#projectsection {
  text-align: center;
}
#projectsection img{
  align-content: center;
}

#allprojects {
 padding-top: 1rem;
 background-color: #373737;
 padding-bottom: 3rem;
 color: #f0f0f0;
}

#projects {
 text-align: center;
}

#projects img {
  height: auto;
  width: auto;
  max-width: 375px;
  max-height: 425px;
  margin-top: 10px;
}

#projectInfo {
  padding-top: 2rem;
  font-size: 120%;
}

.projectPhoto {
  height: auto; 
  width: auto; 
  max-height: 300px;
  max-width: 300px;
  border-radius: 2%;
  margin-bottom: 20px;
}

.about-content {
  font-size: 120%;
}
.skills {
  font-size: 130%;
}
.exploring {
  font-size: 130%;
}
#media-section {
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color:#C0B283; 
}

.footer {
 text-align: center;
 color: white;
 padding-top: 2rem;
 padding-bottom: 2rem;
 background-color: black;
}

#contactfooter .btn {
  margin: 15px;
}

#footerhead {
  padding-top: 50px;
}

.modal-body {
 text-align: center;
}

.btn-info {
 margin: 7px;
}

#modalBtnGroup {
  margin-bottom: 40px;
}

