thead th{
 text-align: center;
}

#portfoliophoto {
  height: auto; 
  width: auto; 
  max-height: 375px;
  max-width: 375px;
  border-radius: 5%;

}

.jumbotron {

}

footer {
 text-align: center;
 
}